@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(http://fonts.googleapis.com/css?family=Exo:300,800);

.cube {
position: relative;
width: 100%;
height: 58px;
margin: 0rem auto;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-perspective: 400px;
-moz-perspective: 400px;
-ms-perspective: 400px;
-o-perspective: 400px;
perspective: 400px;
}

/* jQuery stuff */
#slider-range-min {
position: absolute;
width: 94%;
left: 3%;
top: 27px;
margin: 0px;
z-index: 999;
}
.ui-slider {
height: 5px;
border: none;
background: rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 2px 2px rgba(255,255,255,0.25), inset 0px 1px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 2px rgba(255,255,255,0.25), inset 0px 1px 3px rgba(0,0,0,0.3);
box-shadow: 0px 2px 2px rgba(255,255,255,0.25), inset 0px 1px 3px rgba(0,0,0,0.3);
}
.ui-slider:after {
content: '0123456789';
position: absolute;
left: 2px;
width: 100%;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.2rem;
font-weight: 300;
color: rgba(0,0,0,0.3);
letter-spacing: 41px;
text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
}
.ui-slider:before {
top: -1.4rem;
}
.ui-slider:after {
bottom: -1.4rem;
}
.ui-slider-range {
background: transparent;
}
.ui-slider .ui-slider-handle {
top: -8px;
width: 26px;
height: 20px;
margin-left: -15px;
padding-left: 4px;
border: none;
background: rgba(255,255,255,0.7);
border-radius: 2px;
text-align: center;
font-family: 'Anonymous Pro', sans-serif;
font-size: 1.2rem;
line-height: 20px;
color: rgba(0,0,0,0.5);
text-decoration: none;
letter-spacing: 3px;
cursor: pointer;
text-shadow: 1px 1px 2px rgba(255,255,255,1);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}
.ui-slider .ui-slider-handle:focus {
outline: none;
}
/* typo */

#amount {
position: relative;
display: inline-block;
padding-bottom: 2rem;
text-align: center;
font-family: 'Exo', sans-serif;
font-weight: 800;
font-size: 2rem;
color: #529e0e;
background: transparent;
border: none;
}
#amount:focus {
outline: none;
}
/* base */
#budget_slider_things {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
height: 100%;
padding-top: 0.5rem
text-align: center;
}
